body {
    font-family: Arial, sans-serif;
    background-image: url('../../images/admin products.png');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.horizontal-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.horizontal-nav li {
    float: left;
}

.horizontal-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-nav li a:hover {
    background-color: #111;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    color: #333;
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
}
